<!doctype html>
<html lang="en">
<head>
    <!-- Meta Tag -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Uniland - Real Estate HTML5 Template">
    <meta name="keywords" content="real estate, property, property search, agent, apartments, booking, business, idx, housing, real estate agency, rental">
    <meta name="author" content="unicoder">
    <title>Uniland - Real Estate HTML5 Template</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="assets/images/favicon2.ico">
<base href="../">
    <!-- Google Font -->    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Urbanist:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400&display=swap" rel="stylesheet">

    <!--  CSS Style -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/all.min.css">
    <link rel="stylesheet" href="assets/css/animate.min.css">
    <link rel="stylesheet" href="assets/css/layerslider.css">
    <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="assets/css/fancybox.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/control.css">
       <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <style>
          #styleImage{
                height:40vh;
            } 
        @media  (max-width:500px) {
            #styleImage {
               width: 150px;
               height:120px
            }
            }

            #styleImageContainer{
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;

            }
          
        
    </style>
</head>
<body class="error-page">

    <div class="preloader">
        <div class="loader"></div>
    </div>

    <div id="page_wrapper" class="bg-light-gray">
        <!--============== Header Section Start ==============-->
         <%- include("../partials/navbar")%>
      <%- include("../partials/lead-model")%>
        <!--================== Header Section End =================-->

        <!--============== Page Banner Section Start ==============-->
        <div class="full-row inner-page-banner py-5">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="page-title-wrapper d-lg-flex flex-column gap-3">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb mb-0 bg-transparent p-0">
                                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Login</li>
                                </ol>
                            </nav>
                            <h1 class="page-title">Login Page</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--=============== Page Banner Section End ===============-->

        <!--================== Page Content Start =================-->
        <div class="full-row pt-0">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-7 col-12" id="styleImageContainer" >
                        <!-- <div id="styleImage">Hello</div> -->
                        <img src="assets/images/clipart/2.png"  id="styleImage" alt="">
                    </div>
                    <div class="col-md-5 col-12 rounded-2">
                        <div class="signin-form">
                            <h5>User Login</h5>
                            <form action="" method="POST" class="rounded-2" id="loginForm">
                                <div class="row g-3">
                                    <div class="col-12">
                                        <label>Username</label>
                                        <input type="email" class="form-control" name="email" placeholder="" required>
                                    </div>
                                    <div class="col-12">
                                        <label>Password</label>
                                        <input type="password" class="form-control" name="password" placeholder="" required>
                                    </div>
                                    
                                    <div class="col-12">
                                        <button type="submit" class="btn btn-dark hover-flash-move">Sign In</button>
                                    </div>
                                </div>
                            </form>
                            <!-- <a href="#">Forgot Password or Username</a> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--=================== Page Content End ==================-->

        <!--================= Footer Section Start ================-->
        <footer class="full-row bg-footer" style="padding-bottom: 30px">
            <div class="container">
                <div class="row row-cols-lg-4 row-cols-md-2 row-cols-1">
                    <div class="col">
                        <div class="widget footer-widget widget-about">
                            <div class="footer-logo mb-4">
                                <a href="#"><img src="assets/images/logo/logo-full-white.png" alt="Image not found!" /></a>
                            </div>
                            <p>When it comes to the world of real estate, a good company stands out from the rest by redefining excellence in every aspect of its operations.</p>
                        </div>
                        <div class="widget footer-widget social-widget">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-linkedin-in"></i></a>
                            <a href="#"><i class="fab fa-google-plus-g"></i></a>
                            <a href="#"><i class="fab fa-pinterest-p"></i></a>
                        </div>
                    </div>
                    <div class="col">
                        <div class="widget footer-widget contact-widget">
                            <h3 class="widget-title">Contact Info</h3>
                            <ul>
                                <li>Uniland Agency 301 The Greenhouse, Custard Factory, London, E3 8DY.</li>
                                <li><a href="callto:+1 246-345-0695">+1 246-345-0695</a></li>
                                <li>helpline@uniland.com</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col">
                        <div class="widget footer-widget footer-nav">
                            <h3 class="widget-title">Quick Links</h3>
                            <ul>
                                <li><a href="#">Our Services</a></li>
                                <li><a href="#">Investment Solution</a></li>
                                <li><a href="#">Frequenly Ask Question</a></li>
                                <li><a href="#">How It Work</a></li>
                                <li><a href="#">Become a Member</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col">
                        <div class="widget footer-widget newslatter-widget">
                            <h4 class="widget-title">Appointment</h4>
                            <p>The process for scheduling appointments, whether it's through phone calls, emails, online booking systems, or appointment-setting apps.</p>
                            <a href="#" class="btn btn-primary w-100">Register Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!--============== Footer Section End ==============-->

        <!--============== Copyright Section Start ==============-->
        <div class="copyright font-primary py-3">
            <div class="container">
                <div class="row row-cols-md-2 row-cols-1">
                    <div class="col">
                        <p class="color-white mb-0">©2025 Uniland All right reserved</p>
                    </div>
                    <div class="col">
                        <ul class="bottom-footer-nav list-color-gray">
                            <li><a href="#">Privacy & Policy </a></li>
                            <li>|</li>
                            <li><a href="#">Site Map</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--================= Copyright Section End =================-->
    </div>

    <!-- Javascript Files -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/fancybox.min.js"></script>
    <script src="assets/js/owl.carousel.min.js"></script>
    <script src="assets/js/wow.min.js"></script>
    <script src="assets/js/mixitup.min.js"></script>
    <script src="assets/js/range/tmpl.js"></script>
    <script src="assets/js/range/jquery.dependClass.js"></script>
    <script src="assets/js/range/draggable.js"></script>
    <script src="assets/js/range/jquery.slider.js"></script>
    <script src="assets/js/paraxify.js"></script>
    <script src="assets/js/custom.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>

    <script>
        const myForm = document.getElementById("loginForm");

myForm.addEventListener("submit", async function (e) {
    try {
        e.preventDefault()
        const formData = new FormData(this);
        const urlEncodedData = new URLSearchParams(formData);

        console.log(urlEncodedData)

        const res = await fetch(window.location.origin+"/auth/login", {
            method: "POST",
            headers: {
                "Content-Type": "application/x-www-form-urlencoded"
            },
            credentials:"include",
            body: urlEncodedData
        });
        const data = await res.json()
        console.log(data)
        
        if (data.success) {
            Toastify({
                text: data.message || "Success: LoggedIn SuccessFully",
                duration: 3000,
                gravity: "top",
                position: "center",
                close: true,
                backgroundColor: "#AA8453",
                style: {
                    color: "#FFFFFF"
                }
            }).showToast();

            window.location.href = data.redirect;
        } else {
           throw new Error(data.message)
        }
    } catch (error) {
         Toastify({
                text: error.message ||  "Internal Server Error",
                duration: 3000,
                gravity: "top",
                position: "center",
                close: true,
               
                style: {
                    color: "#FFFFFF",
                    backgroundColor:"red"
                }
            }).showToast();
    }
})


    </script>
</body>
</html>