<div class="full-row py-3 mt-auto">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12 text-center"><span>© 2025 Uniland All right reserved</span></div>
                        </div>
                    </div>
                </div>