<div class="modal fade login-modal" id="leadModal" tabindex="-1" aria-labelledby="loginmodalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title" id="exampleModalLabel">Schedule a call</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body user-login-form">
                    <form name="leadForm" id="leadForm" action="http://localhost:8080/backend/lead" method="post">
                        <div class="row row-cols-1 g-3">
                            <div class="col">
                                <label class="access-field"><i class="fa-solid fa-user"></i> <input type="text" name="clientName" class="form-control" placeholder="Username" value="" required="true"></label>
                            </div>
        
                            <div class="col">
                                <label class="access-field"><i class="fa-solid fa-envelope"></i> <input type="email" name="email" class="form-control" placeholder="Email" value="" required="true"></label>
                            </div>
                            <%if(data && data.location){%>
                            <div class="col">
                                <label class="access-field"><i class="fa-solid fa-location-dot"></i> 
                                    <select class="form-control" style="width: 100%;" name="locationName" required>
                                             <option value="" disabled selected hidden>Select location</option>
                                        <% data.location.forEach((location, index) => { %>
                                            <option value="<%= location._id %>">
                                            <%= location.locationName %>
                                            </option>
                                        <% }) %>
                                        </select>
                                </label>
                            </div>
                             <%}%>
                            <div class="col">
                                <label class="access-field"><i class="fa-solid fa-phone"></i> <div class="d-flex flex-row  form-control align-items-center">
                                                    <span >+91</span> 
                                        <input type="text" 
                                        name="mobileNumber" 
                                        placeholder="Mobile Number" 
                                        class="w-100" 
                                        maxlength="10" 
                                        inputmode="numeric"
                                        style="border:none" 
                                        required
                                        oninput="this.value = this.value.replace(/[^0-9]/g, '').slice(0, 10);"
                                        />

                                                    </div></label>
                            </div>
                            <div class="col">
                                 <textarea name="message" class="form-control" placeholder="Message" rows="10" id=""></textarea>
                            </div>
                            <input type="hidden" name="leadType" value="buy">
                            <!-- <div class="col"> -->
                                <!-- <div class="d-flex justify-content-between"> -->
                                    <!-- <label><input type="checkbox" name="remember" value=""> Agree Terms & Conditions</label> -->
                                    <!-- <span><a href="#">Forgot Password</a></span> -->
                                <!-- </div> -->
                            <!-- </div> -->
                            <div class="col">
                                <button type="submit" class="btn btn-primary btn-hover-secondary hover-flash-move w-100">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- <div class="modal-footer d-flex justify-content-start">
                    <a href="signup.html" class="text-dark d-table font-primary fw-medium ls-1 hover-color-primary"><u>Don't Have Account? Click Here.</u></a>
                </div> -->
            </div>
        </div>
    </div>

   
        <script >
// for lead modal 
const leadForm = document.getElementById("leadForm")

leadForm.addEventListener("submit", async function (e) {
    try {
        console.log("hlo")
        e.preventDefault()
        const formData = new FormData(this);
        const urlEncodedData = new URLSearchParams(formData)
        const response = await fetch(this.action, {
            method: "post",
            body: urlEncodedData
        })
        const data = await response.json()
        if (data.success) {
            Toastify({
                text: data.message,
                duration: 3000,
                gravity: "top",
                position: "center",
                close: true,
                backgroundColor: "#AA8453",
                style: {
                    color: "#FFFFFF"
                }
            }).showToast();
            this.reset()
        } else {
            Toastify({
                text: data.message,
                duration: 3000,
                gravity: "top",
                position: "center",
                close: true,
                backgroundColor: "#AA8453",
                style: {
                    color: "#FFFFFF"
                }
            }).showToast();
        }
    } catch (error) {
        Toastify({
            text: error.message,
            duration: 3000,
            gravity: "top",
            position: "center",
            close: true,
            backgroundColor: "red",
            style: {
                color: "#FFFFFF"
            }
        }).showToast();
    }
})

</script>