 <header class="main-header header-style-3 sticky-top p-0">
            <div class="main-nav bg-dark position p-0">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <nav class="navbar navbar-expand-lg nav-white nav-active-primary nav-hover-primary nav-line-active">
                                <a class="navbar-brand" href="/"><img class="nav-logo" src="assets/images/logo/logo-full-white.png" alt="real estate template"></a>
                                <!-- <button class="mobile-login" title="Login or Registration" data-bs-toggle="modal" data-bs-target="#loginmodal"><i class="fa-regular fa-user"></i></button> -->
                                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                    <span class="navbar-toggler-icon flaticon-menu flat-small text-primary"></span>
                                  </button>
                                  
                                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                    <ul class="navbar-nav ms-auto">
                                        <li class="nav-item">
                                            <a class="nav-link " href="/">Home</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="/browse">Browse</a>
                                            <!-- <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="index-1.html">Default</a></li>
                                                <li><a class="dropdown-item" href="index-2.html">Simple Search Banner</a></li>
                                                <li><a class="dropdown-item" href="index-3.html">Google Map</a></li>
                                                <li><a class="dropdown-item" href="index-4.html">Extended Search Banner</a></li>
                                                <li><a class="dropdown-item" href="index-5.html">Filter Search</a></li>
                                                <li><a class="dropdown-item" href="index-6.html">Property Slider</a></li>
                                                <li><a class="dropdown-item" href="index-7.html">Map Full Screen</a></li>
                                                <li><a class="dropdown-item" href="index-8.html">Agency Layout</a></li>
                                                <li><a class="dropdown-item" href="index-9.html">Box Layout</a></li>
                                                <li><a class="dropdown-item" href="index-10.html">Property Slider Full</a></li>
                                                <li><a class="dropdown-item" href="index-11.html">Smart Slider</a></li>
                                                <li><a class="dropdown-item" href="index-12.html">Standrad Layout</a></li>
                                                <li><a class="dropdown-item" href="index-13.html">Video Banner</a></li>
                                                <li><a class="dropdown-item" href="index-14.html">Feature Slider Layout</a></li>
                                            </ul> -->
                                        </li>
                                        
                                        <li class="nav-item">
                                            <a class="nav-link" href="/sell-leads">Sell</a>
                                            <!-- <ul class="dropdown-menu">
                                                <li class="dropdown"> 
                                                    <a class="dropdown-toggle dropdown-item" href="property-grid-v1.html"></a>
                                                </li>
                                                <li class="dropdown"> <a class="dropdown-toggle dropdown-item" href="property-list-v1.html"></a>
                                                    <ul class="dropdown-menu">
                                                        <li><a class="dropdown-item" href="property-list-v1.html">List View V1</a></li>
                                                        <li><a class="dropdown-item" href="property-list-v2.html">List View V2</a></li>
                                                        <li><a class="dropdown-item" href="property-list-full.html">List Full Width</a></li>
                                                    </ul>
                                                </li>
                                                <li class="dropdown"> <a class="dropdown-toggle dropdown-item" href="#">Listing Variation</a>
                                                    <ul class="dropdown-menu">
                                                        <li><a class="dropdown-item" href="property-banner-search.html">Banner Search</a></li>
                                                        <li><a class="dropdown-item" href="property-including-slider.html">Slider Include</a></li>
                                                        <li><a class="dropdown-item" href="property-including-map.html">Map Include</a></li>
                                                    </ul>
                                                </li>
                                                <li class="dropdown"> <a class="dropdown-toggle dropdown-item" href="property-map-grid-v1.html">Property With Map</a>
                                                    <ul class="dropdown-menu">
                                                        <li><a class="dropdown-item" href="property-map-grid-v1.html">Map Grid View V1</a></li>
                                                        <li><a class="dropdown-item" href="property-map-grid-v2.html">Map Grid View V2</a></li>
                                                        <li><a class="dropdown-item" href="property-map-grid-v3.html">Map Grid View V3</a></li>
                                                        <li><a class="dropdown-item" href="property-map-grid-v4.html">Map Grid View V4</a></li>
                                                        <li><a class="dropdown-item" href="property-map-list-v1.html">Map List View V1</a></li>
                                                    </ul>
                                                </li>
                                                 <li class="dropdown"> <a class="dropdown-toggle dropdown-item" href="advance-search-v1.html">Advance Search</a>
                                                    <ul class="dropdown-menu">
                                                        <li><a class="dropdown-item" href="advance-search-v1.html">Advance Search V1</a></li>
                                                        <li><a class="dropdown-item" href="advance-search-v2.html">Advance Search V2</a></li>
                                                        <li><a class="dropdown-item" href="advance-search-v3.html">Advance Search V3</a></li>
                                                    </ul>
                                                </li>
                                            </ul> -->
                                        </li>
                                        <li class="nav-item position-relative">
                                            <span class="text-white cursor-pointer" style="cursor: pointer;">Pages</span>
                                            <ul class="dropdown-menu">
                                                <li class="dropdown" style="color: white;"> 
                                                    <a class="dropdown-item " style="color: black !important;" href="/services">Our Services</a>
                                                </li>
                                                <li class="dropdown"> <a class="dropdown-item" href="/our-mission">Our Mission</a>
                                                  
                                                </li>
                                                <li class="dropdown"> <a class="dropdown-item" href="/our-testimonials">Our Testimonials</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="/emi-calculator">EMI Calculator</a>
                                            <!-- <ul class="dropdown-menu">
                                                <li class="dropdown"> <a class="dropdown-toggle dropdown-item" href="property-single-v1.html">Single Property</a>
                                                    <ul class="dropdown-menu">
                                                        <li><a class="dropdown-item" href="property-single-v1.html">Single Property V1</a></li>
                                                        <li><a class="dropdown-item" href="property-single-v2.html">Single Property V2</a></li>
                                                        <li><a class="dropdown-item" href="property-single-v3.html">Single Property V3</a></li>
                                                        <li><a class="dropdown-item" href="property-single-v4.html">Single Property V4</a></li>
                                                        <li><a class="dropdown-item" href="property-single-v5.html">Single Property V5</a></li>
                                                    </ul>
                                                </li>
                                                <li class="dropdown"> <a class="dropdown-toggle dropdown-item" href="left-filter-property-v1.html">Left Filter Search</a>
                                                    <ul class="dropdown-menu">
                                                        <li><a class="dropdown-item" href="left-filter-property-v1.html">Filter Property V1</a></li>
                                                        <li><a class="dropdown-item" href="left-filter-property-v2.html">Filter Property V2</a></li>
                                                    </ul>
                                                </li>
                                                <li class="dropdown"> <a class="dropdown-toggle dropdown-item" href="dashboard.html">Dashboard</a>
                                                    <ul class="dropdown-menu">
                                                        <li><a class="dropdown-item" href="dashboard.html">My Account</a></li>
                                                        <li><a class="dropdown-item" href="dashboard-profile.html">My Profile</a></li>
                                                        <li><a class="dropdown-item" href="dashboard-profile.html">Social Media</a></li>
                                                        <li><a class="dropdown-item" href="dashboard-listing.html">My Properties</a></li>
                                                        <li><a class="dropdown-item" href="dashboard-favorite.html">Favorited Properties</a></li>
                                                        <li><a class="dropdown-item" href="dashboard-submit-property.html">Submit New Property</a></li>
                                                        <li><a class="dropdown-item" href="dashboard-message.html">Message</a></li>
                                                        <li><a class="dropdown-item" href="dashboard-agency-profile.html">Agency Profile</a></li>
                                                    </ul>
                                                </li>
                                                <li class="dropdown">
                                                    <a class="dropdown-toggle dropdown-item" href="agent-grid-view.html">Agents</a>
                                                    <ul class="dropdown-menu">
                                                        <li><a class="dropdown-item" href="agent-grid-view.html">Agents Grid View</a></li>
                                                        <li><a class="dropdown-item" href="agent-list-view.html">Agents List View</a></li>
                                                        <li><a class="dropdown-item" href="agent-details.html">Agents Details</a></li>
                                                    </ul>
                                                </li>
                                                <li class="dropdown">
                                                    <a class="dropdown-toggle dropdown-item" href="photo-gallery-v1.html">Photo Gallery</a>
                                                    <ul class="dropdown-menu">
                                                        <li><a class="dropdown-item" href="photo-gallery-v1.html">Photo Gallery V1</a></li>
                                                        <li><a class="dropdown-item" href="photo-gallery-v2.html">Photo Gallery V2</a></li>
                                                        <li><a class="dropdown-item" href="photo-gallery-v3.html">Photo Gallery V3</a></li>
                                                        <li><a class="dropdown-item" href="photo-gallery-v4.html">Photo Gallery V4</a></li>
                                                        <li><a class="dropdown-item" href="photo-gallery-v5.html">Photo Gallery V5</a></li>
                                                    </ul>
                                                </li>
                                                <li><a class="dropdown-item" href="compare.html">Compare</a></li>
                                                <li><a class="dropdown-item" href="dashboard-submit-property.html">Submit Property</a></li>
                                            </ul> -->
                                        </li>
                                        <!-- <li class="nav-item dropdown mega-dropdown">
                                            <a class="nav-link dropdown-toggle" href="#">Pages</a>
                                            <ul class="dropdown-menu mega-dropdown-menu">
                                                <li class="mega-container">
                                                    <div class="row row-cols-lg-4 row-cols-1">
                                                        <div class="col">
                                                            <ul>
                                                                <li><a class="dropdown-item" href="about.html">About Us</a></li>
                                                                <li><a class="dropdown-item" href="our-mission.html">Our Mission</a></li>
                                                                <li><a class="dropdown-item" href="career.html">Careers</a></li>
                                                                <li><a class="dropdown-item" href="award.html">Awards</a></li>
                                                                <li><a class="dropdown-item" href="testimonials.html">Testimonials</a></li>
                                                                <li><a class="dropdown-item" href="timeline.html">Timeline</a></li>
                                                            </ul>
                                                        </div>
                                                        <div class="col">
                                                            <ul>
                                                                <li><a class="dropdown-item" href="dashboard-profile.html">My Profile</a></li>
                                                                <li><a class="dropdown-item" href="dashboard-profile.html">Social Media</a></li>
                                                                <li><a class="dropdown-item" href="dashboard-listing.html">My Properties</a></li>
                                                                <li><a class="dropdown-item" href="dashboard-favorite.html">Favorited Properties</a></li>
                                                                <li><a class="dropdown-item" href="dashboard-submit-property.html">Submit New Property</a></li>
                                                                <li><a class="dropdown-item" href="#">Shortcodes</a></li>
                                                            </ul>
                                                        </div>
                                                        <div class="col">
                                                            <ul>
                                                                <li><a class="dropdown-item" href="#">Feedback and Comments</a></li>
                                                                <li><a class="dropdown-item" href="#">Payments and Invoice</a></li>
                                                                <li><a class="dropdown-item" href="dashboard-change-password.html">Change Password</a></li>
                                                                <li><a class="dropdown-item" href="terms-and-condition.html">Terms And Condition</a></li>
                                                                <li><a class="dropdown-item" href="pricing-table.html">Pricing Table</a></li>
                                                                <li><a class="dropdown-item" href="dashboard-agency-profile.html">Agency Profile</a></li>
                                                            </ul>
                                                        </div>
                                                        <div class="col">
                                                            <ul>
                                                                <li><a class="dropdown-item" href="our-services.html">Our Services</a></li>
                                                                <li><a class="dropdown-item" href="dashboard-submit-property.html">Submit Property</a></li>
                                                                <li><a class="dropdown-item" href="#">Invoice Details</a></li>
                                                                <li><a class="dropdown-item" href="dashboard-message.html">Message</a></li>
                                                                <li><a class="dropdown-item" href="404.html">Error Page</a></li>
                                                                <li><a class="dropdown-item" href="faq.html">FAQ</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" href="#">Blog</a>
                                            <ul class="dropdown-menu">
                                                <li class="dropdown"> <a class="dropdown-toggle dropdown-item" href="#">Blog Grid</a>
                                                    <ul class="dropdown-menu">
                                                        <li><a class="dropdown-item" href="blog-grid-v1.html">Blog Grid V1</a></li>
                                                        <li><a class="dropdown-item" href="blog-grid-v2.html">Blog Grid V2</a></li>
                                                        <li><a class="dropdown-item" href="blog-grid-v3.html">Blog Grid V3</a></li>
                                                        <li><a class="dropdown-item" href="blog-grid-v4.html">Blog Grid V4</a></li>
                                                        <li><a class="dropdown-item" href="blog-grid-v5.html">Blog Grid V5</a></li>
                                                    </ul>
                                                </li>
                                                <li class="dropdown"> <a class="dropdown-toggle dropdown-item" href="#">Blog List</a>
                                                    <ul class="dropdown-menu">
                                                        <li><a class="dropdown-item" href="blog-list-v1.html">Blog List V1</a></li>
                                                        <li><a class="dropdown-item" href="blog-list-v2.html">Blog List V2</a></li>
                                                    </ul>
                                                </li>
                                                <li><a class="dropdown-item" href="blog-masonry-grid.html">Masonry Grid</a></li>
                                                <li class="dropdown"> <a class="dropdown-toggle dropdown-item" href="#">Single Blog</a>
                                                    <ul class="dropdown-menu">
                                                        <li><a class="dropdown-item" href="blog-single-v1.html">Blog Single V1</a></li>
                                                        <li><a class="dropdown-item" href="blog-single-v2.html">Blog Single V2</a></li>
                                                        <li><a class="dropdown-item" href="blog-single-v3.html">Blog Single V3</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="contact.html">Contact</a>
                                        </li> -->
                                    </ul>
                                    <!-- <div class="user-panel">
                                        <a href="#" class="fw-semibold" title="Login or Registration" data-bs-toggle="modal" data-bs-target="#loginmodal"><i class="fa-regular fa-user"></i> Login</a>
                                    </div> -->
                                    <button data-bs-toggle="modal" data-bs-target="#leadModal" class="btn btn-primary btn-hover-secondary hover-flash-move">Schedule a Call</button>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>

    

        </header>


