<!doctype html>
<html lang="en">
<head>
    <!-- Meta Tag -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Uniland - Real Estate HTML5 Template">
    <meta name="keywords" content="real estate, property, property search, agent, apartments, booking, business, idx, housing, real estate agency, rental">
    <meta name="author" content="unicoder">
    <title>Uniland - Real Estate HTML5 Template</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="assets/images/favicon2.ico">

    <!-- Google Font -->    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Urbanist:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400&display=swap" rel="stylesheet">

    <!--  CSS Style -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/all.min.css">
    <link rel="stylesheet" href="assets/css/animate.min.css">
    <link rel="stylesheet" href="assets/css/fancybox.min.css">
    <link rel="stylesheet" href="assets/css/layerslider.css">
    <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/control.css">
     <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">

</head>
<body class="service-page">

    <div class="preloader">
        <div class="loader"></div>
    </div>

    <div id="page_wrapper" class="bg-light-gray">
        <!--============== Header Section Start ==============-->
        <header class="main-header header-style-1 bg-white">
            <%- include("partials/navbar.ejs")%>
            <%- include("partials/lead-model.ejs")%>
        </header>
        <!--================== Header Section End =================-->

        <!--============== Page Banner Section Start ==============-->
        <div class="full-row inner-page-banner pt-5">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="page-title-wrapper d-lg-flex flex-column gap-3">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb mb-0 bg-transparent p-0">
                                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                                    <li class="breadcrumb-item">Pages</li>
                                    <li class="breadcrumb-item active" aria-current="page">Service</li>
                                </ol>
                            </nav>
                            <h1 class="page-title">What We Provide</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--=============== Page Banner Section End ===============-->

        <!--================== Page Content Start =================-->
        <div class="full-row bg-white">
            <div class="container">
                <div class="row g-3 justify-content-center">
                    <div class="col-lg-7">
                        <h3 class="text-center mb-4">What You Area Looking For?</h3>
                        <span class="d-table sub-title mx-auto text-center mb-5">Selling a property is not just about placing a "For Sale" sign in the front yard and hoping for the best. In today's competitive real estate market, a well-crafted listing is a powerful tool that can make all the difference in attracting potential buyers and ultimately.</span>
                    </div>
                </div>
                <div class="row row-cols-lg-3 row-cols-1 g-3">
                    <div class="col">
                        <div class="box-style-1">
                            <div class="entry-wrapper">
                                <div class="entry-thumbnail-wrapper">
                                    <div class="entry-thumbnail">
                                        <img src="assets/images/icon/playground.png" alt="">
                                    </div>
                                </div>
                                <div class="entry-content-wrapper">
                                    <div class="entry-header">
                                        <h5 class="entry-title">Instalment Booking</h5>
                                    </div>
                                    <div class="entry-content">
                                        <p>Property installment booking, also known as property installment plan or property installment scheme</p>
                                    </div>
                                    <div class="entry-footer">
                                        <a href="#" class="btn-link">Read More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="box-style-1">
                            <div class="entry-wrapper">
                                <div class="entry-content-wrapper">
                                    <div class="entry-thumbnail">
                                        <img src="assets/images/icon/office-building.png" alt="">
                                    </div>
                                </div>
                                <div class="entry-content-wrapper">
                                    <div class="entry-header">
                                        <h5 class="entry-title">Property Managment</h5>
                                    </div>
                                    <div class="entry-content">
                                        <p>Hiring a property management company allows owners to focus on other aspects of their lives or invest their time</p>
                                    </div>
                                    <div class="entry-footer">
                                        <a href="#" class="btn-link">Read More</a>
                                    </div>
                                </div>
                            </div>
                        </div>                      
                    </div>
                    <div class="col">
                        <div class="box-style-1">
                            <div class="entry-wrapper">
                                <div class="entry-content-wrapper">
                                    <div class="entry-thumbnail">
                                        <img src="assets/images/icon/architect.png" alt="">
                                    </div>
                                </div>
                                <div class="entry-content-wrapper">
                                    <div class="entry-header">
                                        <h5 class="entry-title">Architect Designing</h5>
                                    </div>
                                    <div class="entry-content">
                                        <p>In general, the real estate industry does involve memberships and associations that professionals can join to gain access</p>
                                    </div>
                                    <div class="entry-footer">
                                        <a href="#" class="btn-link">Read More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="box-style-1">
                            <div class="entry-wrapper">
                                <div class="entry-content-wrapper">
                                    <div class="entry-thumbnail">
                                        <img src="assets/images/icon/architect.png" alt="">
                                    </div>
                                </div>
                                <div class="entry-content-wrapper">
                                    <div class="entry-header">
                                        <h5 class="entry-title">House Development</h5>
                                    </div>
                                    <div class="entry-content">
                                        <p>The most successful companies embrace innovation and adapt to new market conditions and customer expectations</p>
                                    </div>
                                    <div class="entry-footer">
                                        <a href="#" class="btn-link">Read More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="box-style-1">
                            <div class="entry-wrapper">
                                <div class="entry-content-wrapper">
                                    <div class="entry-thumbnail">
                                        <img src="assets/images/icon/advertisement.png" alt="">
                                    </div>
                                </div>
                                <div class="entry-content-wrapper">
                                    <div class="entry-header">
                                        <h5 class="entry-title">Advertisement</h5>
                                    </div>
                                    <div class="entry-content">
                                        <p>A mission that includes a commitment to innovation ensures the company remains efficient and forward-thinking.</p>
                                    </div>
                                    <div class="entry-footer">
                                        <a href="#" class="btn-link">Read More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="box-style-1">
                            <div class="entry-wrapper">
                                <div class="entry-content-wrapper">
                                    <div class="entry-thumbnail">
                                        <img src="assets/images/icon/broker.png" alt="">
                                    </div>
                                </div>
                                <div class="entry-content-wrapper">
                                    <div class="entry-header">
                                        <h5 class="entry-title">Broker Agent</h5>
                                    </div>
                                    <div class="entry-content">
                                        <p>Homebuyers are increasingly looking for properties equipped with smart devices and automation systems.</p>
                                    </div>
                                    <div class="entry-footer">
                                        <a href="#" class="btn-link">Read More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--=================== Page Content End ==================-->

        <!--================= Footer Section Start ================-->
       
  <%- include("partials/footer.ejs")%>
        <!--============== Footer Section End ==============-->

        <!--============== Copyright Section Start ==============-->
        
        <!--================= Copyright Section End =================-->
    </div>

    <!-- Scroll to top -->
    <div class="scroll-top-vertical xs-mx-none" id="scroll">Back to top <i class="ms-2 fa-solid fa-arrow-right-long"></i></div>

    <!-- Javascript Files -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/fancybox.min.js"></script>
    <script src="assets/js/owl.carousel.min.js"></script>
    <script src="assets/js/wow.min.js"></script>
    <script src="assets/js/mixitup.min.js"></script>
    <script src="assets/js/range/tmpl.js"></script>
    <script src="assets/js/range/jquery.dependClass.js"></script>
    <script src="assets/js/range/draggable.js"></script>
    <script src="assets/js/range/jquery.slider.js"></script>
    <script src="assets/js/paraxify.js"></script>
    <script src="assets/js/custom.js"></script>
      <!-- common scripts -->
    <%- include("partials/scripts.ejs")%>
</body>
</html>